* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: white;
    background-color: rgb(0, 13, 50);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    width: 100%;
    height: auto;
    display: inline-block;
}

header {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10%;
}

li  {
    display: flex;
    justify-content: center;
}

li a {
    font-size: 2em;
    color: white;
    text-decoration: none;
}


main {
    margin:  0 auto;
    max-width: 1000px;
}

section {
    display: grid;
    margin:  0 auto;
   max-width: 700px;
}



section h2 {
    font-size: 5em;
    text-align: center;
}





