@import url(https://fonts.googleapis.com/css?family=Jersey+10:regular);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Vai:regular);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: rgb(0, 13, 50);
    font-weight: bold;
    font-family: 'Jersey 10','Noto Sans', 'Arial', 'Helvetica', 'sans-serif';
}


img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    padding: 5%;
}

header {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4%;
}


li  {
    display: flex;
    justify-content: center;
}

li a {
    font-size: 8em;
    background: linear-gradient(rgb(255, 255, 255), blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}


main {
    margin:  0 auto;
    max-width: 1000px;
}

section {
    display: grid;
    margin:  0 auto;
   max-width: 700px;
}



section h2 {
    font-size: 5em;
    text-align: center;
}

section h2, p, img {
    background-color: rgb(57, 58, 96);
    border-radius: 5px;
    margin-bottom: 2%;
}


section p {
    font-size: 1.5em;
}








